* {
  transition: all 0.3s ease-in-out;
  margin: 0;
}

.container {
  clear: both;
  overflow: auto;
  background-color: rgb(199, 199, 199);
  width: 100vw;
  left: 0;
}

.Texte-Logo{
  margin: auto;
  display: inline-block;
  padding: 35px;
  font-size: 20px;
  font-family: raleway;
}

nav {
  float: right;
  margin-right: 10%;
}

.logo img {
  float: left;
  width: 90px;
  margin-left: 3%;
}

ul li {
  display: inline-block;
  padding: 35px;
  font-size: 20px;
  font-family: raleway;
  color: black;
}

ul li:hover {
  color: orange;
}
