/* CSS RESETTING */
* {
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease-in-out;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/*Partie Login */
.body_log {
  background-color: #a0bf53;
}

#container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Logo*/
#container img {
  width: 20%;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
}

#container h1 {
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */
#username,
#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#login_btn {
  background-color: #a0bf53;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#login_btn:hover {
  background-color: #8ca749;
  color: #000000;
  border: 0px solid #000000;
}

/*Partie Menu*/

.container {
  clear: both;
  overflow: auto;
  background-color: rgb(239, 239, 239);
  top: 0;
  left: 0;
}

.navbar {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.Texte-Logo {
  padding: 50px;
  font-family: raleway;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li a {
  margin: 0 25px;
  font-size: 20px;
  font-family: raleway;
  color: black;
}

.navbar ul li a:hover {
  color: #a0bf53;
}

.navbar #logout a {
  color: red;
}

.navbar #logout a:hover {
  color: #a0bf53;
}
.navbar #menuHamb {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 35px;
  display: none;
  z-index: 1;
}

.nav-links.mobile-menu {
  margin-left: 0;
}

/*Partie responsive du menu*/

@media screen and (max-width: 1032px) {
  .navbar {
    padding: 0;
    width: 100%;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.756);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    z-index: 1;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .logo {
    display: absolute;
    top: 200px;
    left: 50px;
  }

  .logo {
    padding: 20px;
  }

  .Texte-Logo {
    display: none;
  }
  .navbar #menuHamb {
    display: block;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
  }

  .navbar .nav-links ul li a {
    font-size: 3.5em;
    font-family: raleway;
    color: black;
  }
}

/*Page Accueil*/

#Titre-accueil {
  margin-top: 2%;
  text-align: center;
}

.Container-match {
  width: 90vw;
  margin: 0 auto;
  margin-top: 2%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.match {
  display: flex;
  background-color: rgb(239, 239, 239);
  padding: 2%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.match h1 {
  width: 20%;
  text-align: center;
}

.SeparationScore {
  margin: auto;
  text-align: center;
}

.LogoEquipe {
  margin: auto;
  width: 90px;
  height: 90px;
}

/*Page joueurs*/
.titre_joueurs {
  text-align: center;
  margin: 1%;
}

.listejoueurs {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}

.joueur {
  display: flex;
  justify-content: center;
  width: 20.5%;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  padding: 1%;
  margin: 1%;
}

.joueur:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.joueur ul {
  width: 100%;
}

.photo_joueur {
  text-align: center;
}

.joueur h3 {
  text-align: center;
  margin: 1%;
}

.statut_joueur {
  text-align: center;
  margin: 1%;
  color: gray;
}

.info_joueurs {
  text-align: left;
}

.note {
  width: 100%;
  border: solid grey 1px;
  text-align: justify;
  min-height: 10%;
}

.n_licence {
  text-align: right;
  vertical-align: bottom;
}

.ajoutJoueur {
  line-height: 22em;
  align-items: center;
}

/*saisie joueur*/

.cache {
  display: none;
}

.saisieJoueur form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100%;*/
}

.saisieJoueur fieldset {
  border: none;
}

.saisieJoueur legend {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
}

.saisieJoueur label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

.mesure {
  display: flex;
  align-items: center;
}

.saisieJoueur input,
.saisieJoueur select {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.saisieJoueur input:focus,
.saisieJoueur select:focus {
  outline: none;
  border-color: #555;
}

.saisieJoueur button {
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #a0bf53;
  color: #fff;
}

.saisieJoueur button:hover {
  background-color: #8ca749;
}

/*Page Adversaires*/
.ajoutAdversaire {
  line-height: 9em;
  align-items: center;
}

/*Page Matchs*/

.ajoutMatch {
  line-height: 15em;
  align-items: center;
}

.prepare {
  color: red;
  font-weight: bold;
}

.checkbox {
  margin: 25px;
  display: flex;
}

.checkbox p {
  white-space: nowrap;
}

/*Partie Statistique*/
.winrate {
  display: block;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin: 2% auto;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.winrate h1 {
  margin-bottom: 5%;
}
.winrate p {
  margin-top: 5%;
}

.progress-circle {
  margin: 0 auto;
  position: relative; /* pour servir de référent */
  box-sizing: border-box; /* prise en compte bordure dans la dimension */
  font-size: 6em; /* pour définir les dimensions */
  width: 1em; /* fixe la largeur */
  height: 1em; /* fixe la hauteur */
  border-radius: 50%; /* rendu aspect circulaire */
  border: 0.15em solid rgb(249, 99, 99); /* couleur de fond de l'anneau */
  background-color: #fff; /* couleur de fond de la progress bar */
}

.progress-masque {
  position: absolute;
  width: 1em; /* 100% de la largeur */
  height: 1em; /* 100% de la hauteur */
  left: -0.15em; /* décalage de la largeur bordure de la gauge */
  top: -0.15em; /* décalage de la largeur bordure de la gauge */
  clip: rect(
    0,
    1em,
    1em,
    0.5em
  ); /* par défaut seule la partie droite est visible */
}

.progress-barre,
.progress-sup50 {
  position: absolute;
  box-sizing: border-box; /* prise en compte bordure dans la dimension */
  border-width: 0.15em; /* largeur bordure de la gauge */
  border-style: solid;
  border-color: rgb(59, 153, 0);
  border-radius: 50%; /* rendu aspect circulaire */
  width: 1em; /* largeur à 100% */
  height: 1em; /* hauteur à 100% */
  clip: rect(0, 0.5em, 1em, 0); /* on ne garde que la partie gauche */
}

.progress-sup50 {
  display: none;
  clip: rect(0, 1em, 1em, 0.5em);
}

.progress-circle:after {
  content: attr(data-value) "%"; /* récup. valeur de progression */
  font-size: 0.15em; /* taille de la font en % du parent */
  height: 100%; /* centrage dans le parent */
  display: flex;
  align-items: center;
  justify-content: center;

  /*-- pour effet shadow intérieur --*/
  border-radius: 50%;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5) inset;
}

/*Tableau*/

#colonne {
  background-color: #3f87a6;
  color: #fff;
}

#donneeJoueur {
  background-color: #e4f0f5;
}

#statjoueur {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1em;
  width: 90%;
  margin: 5%;
}

#colonne,
#donneeJoueur td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

#colonne,
#donneeJoueur td {
  text-align: center;
}
